*
{
    margin: 0% ;
    padding: 20px;
}
#a
{
    background-color:orangered;
}
#b
{
    background-color: white;
}
#c
{
    background-color: green;
}
.hai>:hover
{
    background-color: darkblue;
    color:white;
    border-radius: 20px;
}
body
{
    background-color: aquamarine;
}
h1
{
    background-color:rgb(203, 29, 110);
}